ion-tabs {
  ion-tab-bar {
    contain: initial !important;
    ion-tab-button {
      min-width: 20%;
      ion-icon {
        font-size: 20px;
        color: #b1b1b1;
      }
      img {
        max-height: 20px;
        margin-bottom: 3px;
      }
      ion-label {
        font-size: 10px;
        color: #b1b1b1;
        white-space: nowrap;
      }
      &[home] {
        ion-icon {
          font-size: 24px;
          color: #fff;
        }
        height: 45px;
        max-width: 45px;
        min-width: 45px;
        background: var(--ion-color-secondary);
        border-radius: 50%;
        display: inline-block;
        color: var(--ion-color-white) !important;
        margin-top: -60px;
        box-shadow: 0px 0px 0px 8px rgb(248, 249, 253);
        z-index: 1;
      }
      &.tab-selected {
        background: var(--ion-color-secondary);
        color: #fff !important;
        ion-icon {
          color: #fff;
        }

        img {
          filter: brightness(0) invert(1);
        }
        ion-label {
          color: #fff;
        }
      }
      &:nth-child(2) {
        ion-label {
          font-size: 10px;
          color: #b1b1b1;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 80px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  [mobileTabs] {
    ion-tab-bar {
      display: none !important;
    }
  }
}
