<div headerwebs>
  <ion-menu-button slot="start">
    <img height="15px" src="assets/img/menu.png" />
  </ion-menu-button>

  <ion-item class="userPro" color="secondary" lines="none">
    <ion-avatar class="md hydrated">
      <img
        src="https://recommendspot.com:3001/images/1606913611669Abstract-ubuntu-wallpaper-backgrounds.jpg"
    /></ion-avatar>
    <ion-label style="margin-left: 15px"
      >priyanka1
      <p>priyanka@gmail.com</p>
    </ion-label>
  </ion-item>
  <!-- <form [formGroup]="authSearchForm">
    <div class="deskSearch">
      <ion-icon name="search-outline"></ion-icon>
      <ion-input (keydown.enter)="searchLocalRecc(false, '')" placeholder="What are you looking for" formControlName="keyword"></ion-input>
    </div>
  </form> -->
  <div ritHeader style="height: 66px">
    <ul>
      <li>
        <a routerLink="/add-all-recommendation" href="javascript:void(0)">
          <ion-icon
            name="add-circle-outline"
            style="font-size: 2.73em"
          ></ion-icon>
        </a>
      </li>
      <li>
        <a routerLink="/login" href="javascript:void(0)">Login</a>
      </li>
      <li>
        <a routerLink="/signup" href="javascript:void(0)">Signup</a>
      </li>
      <!-- <li><a routerLink="/posts" href="javascript:void(0)">Recommendations</a></li> -->
    </ul>
  </div>
</div>
