<div headerwebs *ngIf="!isLogin">
  <!-- <ion-toolbar color="secondary"> -->
  <!-- <ion-menu-button slot="start" auto-hide="false">
    <img height="15px" src="assets/img/menu.png" />
  </ion-menu-button> -->
  <!-- <ion-title class="ion-text-center">Discover </ion-title> -->
  <!-- <ion-buttons addbtn slot="end" routerLink="/tabs/add-recommend"
      ><ion-icon name="add-outline"></ion-icon
    ></ion-buttons> -->
  <!-- </ion-toolbar> -->
  <a href="javascript:void(0)" routerLink="/landing-page" logo
    ><!--Recommendspot--><img
      height="22px"
      src="assets/img/logo-white.png"
      alt=""
  /></a>
  <form [formGroup]="authSearchForm">
    <div class="deskSearch">
      <ion-icon name="search-outline"></ion-icon>
      <ion-input
        (keydown.enter)="searchLocalReccNew(false, '')"
        placeholder="What are you looking for"
        formControlName="keyword"
      ></ion-input>
      <!-- <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="filterSearchData"
          [searchKeyword]="keyword1"
          placeholder="What are you looking for"
          (selected)="onSearchChange($event)"
          (keyup.enter)="onSearchChange($event)"
          (inputChanged)="onNewSearch($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          (inputCleared)="onclear()"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div> -->
    </div>
  </form>

  <div ritHeader style="height: 66px">
    <ul>
      <!-- <li search-head class="dropdown-dots">
			<a href="javascript:void(0)" (click)="hide()"><ion-icon name="search-outline"></ion-icon></a>
			<ul class="list-post-fl" *ngIf="hideMe">
			    <div class="search">
			      <ion-searchbar placeholder="Search here..."></ion-searchbar>
			    </div>
			</ul>			
			</li> -->
      <!-- <li><a routerLink="/category" href="javascript:void(0)">Category</a></li> -->
      <li>
        <a routerLink="/add-all-recommendation" href="javascript:void(0)">
          <ion-icon
            name="add-circle-outline"
            style="font-size: 2.73em"
          ></ion-icon
        ></a>
      </li>
      <li><a routerLink="/login" href="javascript:void(0)">Login</a></li>
      <li><a routerLink="/signup" href="javascript:void(0)">Signup</a></li>

      <!-- <li><a routerLink="/posts" href="javascript:void(0)">Recommendations</a></li> -->
    </ul>
  </div>
</div>

<div headerWeb *ngIf="isLogin">
  <!-- <ion-menu-button slot="start">
    <img height="15px" src="assets/img/menu.png" />
  </ion-menu-button> -->
  <a
    href="javascript:void(0)"
    logo
    [routerLink]="['/tabs/home']"
    routerLinkActive="router-link-active"
    ><!--Recommendspot--><img
      height="22px"
      src="assets/img/logo-white.png"
      alt=""
  /></a>
  <form [formGroup]="authSearchForm">
    <div class="deskSearch">
      <ion-icon name="search-outline"></ion-icon>
      <!-- <ion-input
        (keydown.enter)="searchLocalReccNew(false, '')"
        placeholder="What are you looking for"
        formControlName="keyword"
      ></ion-input> -->
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="filterSearchData"
          [searchKeyword]="keyword1"
          placeholder="What are you looking for"
          (selected)="onSearchChange($event)"
          (keyup.enter)="onSearchChange($event)"
          (inputChanged)="onNewSearch($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          (inputCleared)="onclear()"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>
  </form>
  <div ritHeader>
    <ul (click)="stopPlayer()">
      <li>
        <a
          routerLink="/tabs/home"
          href="javascript:void(0)"
          (click)="gotToTop()"
          >Home</a
        >
      </li>
      <!-- routerLink="/category" -->
      <li (click)="gotocat()"><a href="javascript:void(0)">Categories</a></li>
      <li (click)="gotofollowing()">
        <a routerLink="/tabs/following" href="javascript:void(0)">Following</a>
      </li>
      <li>
        <a routerLink="/tabs/add-recommend" href="javascript:void(0)"
          >Add Recommendation</a
        >
      </li>
    </ul>

    <!--ion-label style="display: none;"><span>Select Category</span></ion-label-->
    <!--ion-select  style="color: #fff;font-size: 15px;font-weight: 500;    margin-top: 3px;" interface="alert" [(ngModel)]="cat" (ionChange)="catChange(type, 'web')">
			<ion-select-option value="All"> All Categories </ion-select-option>
			<ion-select-option value="{{cat._id}}" *ngFor="let cat of categories"> {{cat.name}} </ion-select-option>
			
		</ion-select-->

    <a href="javascript:void(0)" routerLink="/tabs/notification" noti>
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-badge
        *ngIf="noti_count != '0'  && errors.indexOf(noti_count) == -1"
        color="secondary"
        ><span *ngIf="noti_count != '0'">{{noti_count}}</span></ion-badge
      >
    </a>

    <span proImg>
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == true"
        src="{{user_image}}"
      />
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == false"
        src="{{IMAGES_URL + '/images/' + user_image}}"
      />
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) >= 0"
        src="assets/img/default.png"
      />

      <p headerfixedheight routerLink="/tabs/profile">
        <span class="username">{{user_name}} </span
        ><small>{{user_email}}</small>
      </p>
      <div profileDropdown>
        <ul>
          <li>
            <a
              href="javascript:void(0)"
              routerLink="/profile-setting/{{user_id}}"
              >Profile Settings</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" routerLink="/tabs/saved"
              >Saved Recommedations</a
            >
          </li>
          <li>
            <a
              href="javascript:void(0)"
              routerLink="/see-friends-recomendations"
              >See Friends Recommedations</a
            >
          </li>
          <li (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
        </ul>
      </div>
    </span>
  </div>
</div>
<ion-header>
  <!-- <ion-toolbar color="secondary">   
		<ion-title class="ion-text-left"><img src="assets/img/logo-white.png" alt="" ></ion-title>
		<ion-buttons  routerLink="/signup" slot="end">Sign Up
		</ion-buttons>
	</ion-toolbar> -->

  <ion-toolbar color="secondary">
    <ion-menu-button slot="start">
      <img height="15px" src="assets/img/menu.png" />
    </ion-menu-button>
    <ion-title class="ion-text-center">Add Recomendation</ion-title>
    <form [formGroup]="authSearchForm">
      <div class="searchBox">
        <ion-icon name="search-outline" (click)="clickEvent()"></ion-icon>
        <ion-input
          [ngClass]="showInput ? 'inputWidth' : 'hideWidth'"
          (keydown.enter)="searchLocalReccNew(false, '')"
          placeholder="What are you looking for"
          formControlName="keyword"
        ></ion-input>
        <!-- <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="filterSearchData"
            [searchKeyword]="keyword1"
            placeholder="What are you looking for"
            (selected)="onSearchChange($event)"
            (keyup.enter)="onSearchChange($event)"
            (inputChanged)="onNewSearch($event)"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            (inputCleared)="onclear()"
          >
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div> -->
      </div>
    </form>
    <ion-buttons addbtn slot="end" routerLink="/add-all-recommendation"
      ><ion-icon name="add-outline"></ion-icon
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-no-padding"
  #scrollArea
  scrollEvents="true"
  (click)="closeshare()"
>
  <div class="flexAdmin">
    <app-sidebarnew></app-sidebarnew>
    <div class="flexAdmin__con">
      <!-- <div class="search homesearch ion-hide-md-up">
		

      	<div btnfollow class="ion-hide-md-up">
		     <ion-button fill="outline" shape="round" routerLink="/category" expand="full">
				Follow Category / People
			</ion-button>		  
	  	</div>
	</div> -->

      <div container>
        <div class="home-sec">
          <ion-row>
            <!-- <ion-col size="12">
          <ion-segment
            [(ngModel)]="profiletab"
            (ionChange)="onSegmentChange($event)"
          >
            <ion-segment-button value="Local"> Local </ion-segment-button>
            <ion-segment-button value="Global"> Global </ion-segment-button>
          </ion-segment>
        </ion-col> -->

            <ion-col size="12" moble-width100>
              <div>
                <div
                  class="container btnscrollfix"
                  [myScrollVanish]="scrollArea"
                >
                  <div style="float: left">
                    <button
                      class="arrowbtnlink"
                      (click)="scrollLeft()"
                      (wheel)="scrollLeft()"
                    >
                      <ion-icon name="chevron-back-outline"></ion-icon>
                    </button>
                  </div>

                  <div
                    #widgetsContent
                    class="middle"
                    (wheel)="onMouseWheel($event)"
                  >
                    <div
                      class="info-widget active"
                      (click)="selectCatForGlobalFeed('', 'Today')"
                      [ngClass]="{'active': profiletab1 == 'Today'}"
                    >
                      All
                    </div>
                    <ng-container
                      *ngFor="let doc of latest_categories; let i = index;"
                    >
                      <div
                        class="info-widget"
                        (click)="selectCatForGlobalFeed(doc, i)"
                        *ngIf="doc?.isAll==false"
                        [ngClass]="{'active': filter_cat_array_global?.indexOf(doc._id) >= 0}"
                      >
                        {{doc.name}}
                      </div>
                    </ng-container>
                  </div>

                  <div style="float: right">
                    <button
                      class="arrowbtnlink"
                      (click)="scrollRight()"
                      (wheel)="scrollRight()"
                    >
                      <ion-icon name="chevron-forward-outline"></ion-icon>
                    </button>
                  </div>
                </div>
                <!--div localcategories *ngIf="profiletab != 'Local'">
                  <ion-slides [options]="slideOpts2">
                    <ion-slide (click)="selectCatForGlobalFeed('', 'Today')"
                      ><ion-buttons
                        [ngClass]="{'selected-cat': profiletab1 == 'Today'}"
                        >All</ion-buttons
                      ></ion-slide
                    >

                    <ng-container
                      *ngFor="let doc of latest_categories; let i = index;"
                    >
                      <ion-slide
                        *ngIf="doc.type == '2'"
                        (click)="selectCatForGlobalFeed(doc, i)"
                        ><ion-buttons
                          [ngClass]="{'selected-cat': filter_cat_array_global.indexOf(doc._id) >= 0}"
                          >{{doc.name}}</ion-buttons
                        ></ion-slide
                      >
                    </ng-container>
                  </ion-slides>
                </div-->

                <ion-list *ngIf="allposts?.length > 0 && is_response == true">
                  <ion-row>
                    <ion-col
                      class="mb-20"
                      size="12"
                      size-md="6"
                      *ngFor="let item of allposts; let i = index;"
                    >
                      <ion-card post-sec-mn>
                        <div class="post-name post-sec">
                          <ion-item lines="none">
                            <ion-avatar
                              (click)="viewUser(item)"
                              style="cursor: pointer"
                            >
                              <img
                                *ngIf="errors.indexOf(item?.user_image) == -1 && getimage(item?.user_image) == true"
                                src="{{item?.user_image}}"
                              />
                              <img
                                *ngIf="errors.indexOf(item?.user_image) == -1 && getimage(item?.user_image) == false"
                                src="{{IMAGES_URL + '/images/' + item?.user_image}}"
                              />
                              <img
                                *ngIf="errors.indexOf(item?.user_image) >= 0"
                                src="assets/img/default.png"
                              />
                            </ion-avatar>

                            <ion-label (click)="viewUser(item)">
                              <h2>{{item?.user_name}}</h2>
                              <span
                                (click)="viewPost(item)"
                                class="mobshow desshow"
                                *ngIf="item?.category != ''"
                              >
                                <span class="str">{{item?.category}} </span>

                                <!-- <small *ngIf="item?.platform != ''">
                              <ion-icon
                                name="chevron-forward-outline"
                              ></ion-icon>
                              {{item?.platform}}
                            </small> -->

                                <!-- <small *ngIf="item?.sub_category != ''">
                              <ion-icon
                                name="chevron-forward-outline"
                              ></ion-icon>
                              {{item?.sub_category}}
                            </small> -->
                              </span>
                              <p>{{item?.created_at | dateAgo}}</p>
                              <p local-location>
                                <ion-icon
                                  name="location-outline"
                                  *ngIf="item?.location!=''"
                                ></ion-icon>
                                {{item?.location}}
                              </p>
                            </ion-label>

                            <!-- <ion-icon class="icon-dots" name="ellipsis-vertical" *ngIf="userId == item.user_id" (click)="openUpdate(i)"></ion-icon> -->
                            <!--><ul class="list-post-fl displaynonediv" id="doc{{i}}" *ngIf="userId == item.user_id" [class.displaydiv]="selectedItemm == i">

											<li> <a  (click)="editPost(item, i)">Edit</a> </li>
											<li> <a  (click)="presentAlertConfirm(item, i)" >Delete</a> </li>
										</ul>
											<ion-icon class="icon-dots" name="ellipsis-vertical" *ngIf="userId == item.user_id" (click)="openUpdate(i)"></ion-icon></-->

                            <!-- </div> -->

                            <!-- <span style="cursor:pointer;" (click)="viewPost(item)" class="servcs-badge desshow" *ngIf="item.category != ''">{{item.category}}<small *ngIf="item.sub_category != ''"><ion-icon name="chevron-forward-outline"></ion-icon> {{item.sub_category}}</small></span>-->
                          </ion-item>
                        </div>

                        <div
                          class="post-content"
                          style="position: relative; cursor: pointer"
                          (click)="viewPost(item)"
                        >
                          <h6 class="titlepost">{{item?.title}}</h6>
                          <p style="margin-right: 35px">
                            {{item?.description}}
                          </p>
                          <div class="tagsBox">
                            <small *ngIf="item?.tags?.length>0">TAGS:</small>
                            <small *ngFor="let tag of item?.tags"
                              >{{tag?.name}},
                            </small>
                          </div>
                          <!--ng-container *ngIf="item?.type == 'Words'">
										<ion-icon class="heart-icon weblink-icon" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)" style="    bottom: 0%"></ion-icon>
										<ion-icon class="heart-icon weblink-icon" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)" style="    bottom: 0%"></ion-icon>
									</ng-container-->
                        </div>

                        <div
                          *ngIf="errors.indexOf(item?.web_link) == -1"
                          style="cursor: pointer"
                        >
                          <!--div weblink-sec>
										<ion-icon class="heart-icon" name="link-outline" style="font-size:20px;"></ion-icon>			
										<span class="weblink"> <a (click)="openLink(item.web_link)">{{item.web_link}}</a></span>
									</div-->

                          <div
                            class="linkcontent contfull ion-no-padding"
                            *ngIf="item?.web_link_content?.data != null"
                          >
                            <ion-grid class="ion-no-padding">
                              <ion-row>
                                <ion-col
                                  size="12"
                                  size-md="12"
                                  *ngIf="item?.web_link_content?.data.image != ''"
                                >
                                  <img
                                    *ngIf="youtube_parser(item?.web_link) == false"
                                    src="{{item?.web_link_content?.data.image}}"
                                  />
                                  <!-- {{getId(item.web_link)}} -->
                                  <!-- getId(item.web_link) -->
                                  <!-- <youtube-player *ngIf="youtube_parser(item.web_link) != false && i == index" 
													  videoId="GYAB4Td62zI" 
													  suggestedQuality="highres" 
													  [height]="250" 
													  [width]="500" 
													  [startSeconds]="4"
													  [endSeconds]="8">
													</youtube-player> -->
                                  <!-- <iframe *ngIf="youtube_parser(item.web_link) != false && i == index" style="width: 100%" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(item.web_link + '?controls=1')" frameborder="0" allowfullscreen></iframe> -->
                                  <object
                                    *ngIf="i == 0"
                                    id="iframeone"
                                    width="100%"
                                    height="315"
                                    frameborder="0"
                                    style="display: none; margin-bottom: 5px"
                                  ></object>
                                  <object
                                    *ngIf="i > 0"
                                    id="iframe{{i}}"
                                    width="100%"
                                    height="315"
                                    frameborder="0"
                                    style="display: none; margin-bottom: 5px"
                                  ></object>
                                  <!-- <iframe  id="iframe{{i}}" src="" style="width: 100%" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: none;"></iframe> -->
                                </ion-col>
                                <ion-col
                                  size="{{item?.web_link_content?.data.title != '' ? 12 : 12}}"
                                  style="padding: 0px 15px 0px 15px"
                                >
                                  <div
                                    class="link-cnt"
                                    [ngClass]="{'youtube-link-cnt': youtube_parser(item?.web_link) != false}"
                                  >
                                    <div
                                      class="imgPLay"
                                      *ngIf="!play_video || i != index"
                                    >
                                      <ion-icon
                                        name="play-circle-outline"
                                        *ngIf="youtube_parser(item?.web_link) != false"
                                        (click)="playYoutube(item?.web_link, i)"
                                      ></ion-icon>
                                      <img
                                        src="{{item?.web_link_content?.data.image}}"
                                        *ngIf="youtube_parser(item?.web_link) != false"
                                      />
                                    </div>
                                    <div
                                      [ngClass]="{'indiv': youtube_parser(item?.web_link) != false}"
                                      (click)="openLinkPreview(item?.web_link_content.data.link)"
                                    >
                                      <p
                                        style="margin: 4px 0"
                                        *ngIf="item?.web_link_content?.data.title != ''"
                                      >
                                        <b
                                          >{{item?.web_link_content?.data.title}}</b
                                        >
                                      </p>
                                      <p
                                        style="margin: 4px 0"
                                        *ngIf="item?.web_link_content?.data.title == ''"
                                      >
                                        Lorem Ipsum is simply dummy text of the
                                        industry.
                                      </p>
                                      <p
                                        style="margin: 4px 0"
                                        *ngIf="item?.web_link_content?.data.title != ''"
                                      >
                                        {{item?.web_link_content?.data.description
                                        | slice:0:50}}
                                      </p>
                                      <p
                                        style="margin: 4px 0"
                                        *ngIf="item?.web_link_content?.data.title == ''"
                                      >
                                        Lorem Ipsum is simply dummy text of the
                                        industry.
                                      </p>

                                      <!-- <div weblink-sec> -->
                                      <div class="weblinkbox">
                                        <ion-icon
                                          class="heart-icon"
                                          name="link-outline"
                                        ></ion-icon>
                                        <span class="weblink">
                                          <a (click)="openLink(item?.web_link)"
                                            >{{item?.link}}</a
                                          ></span
                                        >
                                      </div>
                                      <!-- </div> -->
                                    </div>
                                  </div>
                                </ion-col>
                                <!-- <ion-col size="12" size-md="12" *ngIf="youtube_parser(item.web_link) == false">
													<div weblink-sec>
														<ion-icon class="heart-icon" name="link-outline" style="font-size:20px;"></ion-icon>			
														<span class="weblink"> <a (click)="openLink(item.web_link)">{{item.web_link}}</a></span>
													</div>
											</ion-col> -->
                              </ion-row>
                            </ion-grid>
                          </div>

                          <!--ng-container *ngIf="errors.indexOf(item.web_link) == -1">
										<ion-icon style="z-index: 999;bottom: 135px;right: 25px;" class="heart-icon weblink-icon" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
										<ion-icon style="z-index: 999;bottom: 135px;right: 25px;" class="heart-icon weblink-icon" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon>
									</ng-container-->
                        </div>

                        <div
                          class="post-img"
                          *ngIf="errors.indexOf(item?.image) == -1 || item?.image"
                          style="cursor: pointer"
                        >
                          <img
                            (click)="openImagePopup(item?.image)"
                            src="{{IMAGES_URL + '/images/' + item?.image}}"
                          />

                          <!--ng-container >
										<ion-icon  class="heart-icon" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
										<ion-icon class="heart-icon" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon>
									</ng-container-->
                        </div>

                        <div class="post-share">
                          <div class="postlikecomt">
                            <ion-row style="width: 100%">
                              <ion-col size="6">
                                <span
                                  class="padding-8 commentstitle"
                                  *ngIf="item?.likes?.length > 0"
                                  style="float: left"
                                  ><ion-icon name="thumbs-up"></ion-icon>
                                  {{item?.likes?.length}}
                                </span>
                              </ion-col>

                              <ion-col size="6">
                                <span
                                  style="cursor: pointer"
                                  class="padding-8 commentstitle"
                                  *ngIf="item?.comment_count > 0"
                                  (click)="viewComments(item)"
                                  >{{item?.comment_count}}
                                  <span *ngIf="item?.comment_count == 1"
                                    >Comment</span
                                  ><span *ngIf="item?.comment_count > 1"
                                    >Comments</span
                                  >
                                </span>
                              </ion-col>
                            </ion-row>
                          </div>

                          <ion-row style="cursor: pointer">
                            <div
                              class="savelater"
                              *ngIf="item?.fav == '0'"
                              (click)="addRemoveReccomdation('global', item, i)"
                            >
                              <ion-icon
                                class="heart-fav"
                                name="bookmark-outline"
                              ></ion-icon>
                              Save For Later
                            </div>
                            <div
                              class="savelater"
                              *ngIf="item?.fav == '1'"
                              (click)="addRemoveReccomdation('global',item, i)"
                            >
                              <ion-icon
                                style="cursor: pointer"
                                class="heart-fav fav-save"
                                name="bookmark"
                              ></ion-icon>
                              <b>Save For Later</b>
                            </div>
                          </ion-row>

                          <ion-row>
                            <ion-col size="4" class="ion-text-left">
                              <!-- <ion-button class="socl-btn" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)">

												<ion-icon class="heart-icon" name="bookmark-outline" ></ion-icon>
											</ion-button>
											<ion-button class="socl-btn" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)">
												<ion-icon class="heart-icon" name="bookmark" class="liked"></ion-icon>
											</ion-button> -->

                              <div post-fav-icon>
                                <ion-button
                                  class="socl-btn"
                                  (click)="like('global', item?.likes, item?.dislikes, i)"
                                >
                                  <ion-icon
                                    name="{{isLikedPost(item?.likes)}}"
                                    [ngClass]="{'liked': isLikedPost(item?.likes) == 'thumbs-up'}"
                                  ></ion-icon
                                  ><!--  {{item.likes.length}}  -->Like
                                </ion-button>

                                <!--ion-button class="socl-btn" (click)="dislike(item.likes, item.dislikes, i)">

													<ion-icon name="{{isDisLikedPost(item.dislikes)}}"  [ngClass]="{'liked': isDisLikedPost(item.dislikes) == 'thumbs-down'}"></ion-icon>{{item.dislikes.length}}
												</ion-button-->
                              </div>
                            </ion-col>

                            <ion-col
                              size="4"
                              class="ion-text-center"
                              style="cursor: pointer"
                            >
                              <div post-fav-icon>
                                <ion-button
                                  (click)="viewComments(item)"
                                  class="socl-btn"
                                  ><ion-icon
                                    name="chatbubble-outline"
                                  ></ion-icon>
                                  <!--span class="padding-8">{{item.comments.length}}</span-->Comment
                                </ion-button>
                              </div>
                            </ion-col>
                            <!-- start  Save column -->
                            <!-- <ion-col size="2" class="ion-text-center" style="cursor:pointer;">
											<div post-fav-icon> -->
                            <!-- <div dots-edit>
												<ul class="list-post-edit displaynonediv" id="doc{{i}}" *ngIf="userId == item.user_id" [class.displaydiv]="selectedItemm == i">

													<li> <a  (click)="editPost(item, i)">Edit</a> </li>
													<li> <a  (click)="presentAlertConfirm(item, i)" >Delete</a> </li>
												</ul>
												<ion-icon class="icon-dots" name="ellipsis-horizontal" *ngIf="userId == item.user_id" (click)="openUpdate(i)"></ion-icon>	
					                            </div> -->

                            <!-- 	<ion-button (click)="viewComments(item)" class="socl-btn"><ion-icon name="chatbubble-outline"></ion-icon>Comment </ion-button>	 -->

                            <!-- <ng-container>
													<ion-icon  style="cursor:pointer;" class="heart-fav" name="bookmark-outline" *ngIf="item.fav == '0'" (click)="addRemoveReccomdation(item, '1', i)"></ion-icon>
													<ion-icon  style="cursor:pointer;" class="heart-fav fav-save" name="bookmark" *ngIf="item.fav == '1'" (click)="addRemoveReccomdation(item, '0', i)"></ion-icon> Save 
												</ng-container> -->
                            <!-- <ion-buttons sharebtn>		
											 <ion-fab>
												<ion-fab-button fab-btn size="small">
												  <ion-icon name="share-social"></ion-icon>
												</ion-fab-button>
												<ion-fab-list side="top">
												  <ion-fab-button size="small" (click)="viewPostSocial(item, 'http://www.facebook.com/share.php?u=https://recommendspot.com/#/post-details/')" target="_blank"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
												  <ion-fab-button size="small"  (click)="viewPostSocial(item, 'https://twitter.com/share?url=https://recommendspot.com/#/post-details/&amp;text=aa&amp;hashtags=YOUR_HASHTAGS')"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
												  <ion-fab-button size="small"  (click)="viewPostSocial(item, 'https://web.whatsapp.com/send?text=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
												  <ion-fab-button size="small" (click)="viewPostSocial(item, 'https://plus.google.com/share?url=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
												  <ion-fab-button size="small" (click)="viewPostSocial(item, 'http://www.linkedin.com/shareArticle?mini=true&amp;url=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
												</ion-fab-list>
											  </ion-fab>Share					
											</ion-buttons> -->
                            <!--ion-button (click)="viewPost(item)" class="socl-btn"><ion-icon name="chatbubble-outline"></ion-icon> <span class="padding-8">{{item.comments.length}}</span> </ion-button-->
                            <!-- </div>						
													
										</ion-col> -->
                            <!-- end  Save column -->

                            <ion-col
                              size="4"
                              class="ion-text-right"
                              style="cursor: pointer"
                            >
                              <div class="dotflex">
                                <div>
                                  <div
                                    post-fav-icon
                                    (click)="openUpdateShare(i)"
                                  >
                                    <ion-icon
                                      style="cursor: pointer"
                                      class="heart-fav"
                                      name="arrow-redo-outline"
                                    ></ion-icon>
                                    Share
                                  </div>
                                  <ul
                                    class="
                                      list-post-edit
                                      sharedrop
                                      displaynonediv
                                    "
                                    id="doc{{i}}"
                                    [class.displaydiv]="selectedItemmShare == i"
                                  >
                                    <li>
                                      <a
                                        (click)="viewPostSocial(item, 'http://www.facebook.com/share.php?u=https://recommendspot.com/#/post-details/')"
                                        ><ion-icon
                                          name="logo-facebook"
                                        ></ion-icon>
                                        Facebook</a
                                      >
                                    </li>
                                    <li>
                                      <a
                                        (click)="viewPostSocial(item, 'https://twitter.com/share?url=https://recommendspot.com/#/post-details/&amp;text=aa&amp;hashtags=YOUR_HASHTAGS')"
                                        ><ion-icon
                                          name="logo-twitter"
                                        ></ion-icon>
                                        Twitter</a
                                      >
                                    </li>
                                    <li>
                                      <a
                                        (click)="viewPostSocial(item, 'https://web.whatsapp.com/send?text=https://recommendspot.com/#/post-details/')"
                                        ><ion-icon
                                          name="logo-whatsapp"
                                        ></ion-icon>
                                        Whatsapp</a
                                      >
                                    </li>
                                    <li>
                                      <a
                                        (click)="viewPostSocial(item, 'https://plus.google.com/share?url=https://recommendspot.com/#/post-details/')"
                                        ><ion-icon
                                          name="logo-google"
                                        ></ion-icon>
                                        Google</a
                                      >
                                    </li>
                                    <li>
                                      <a
                                        (click)="viewPostSocial(item, 'http://www.linkedin.com/shareArticle?mini=true&amp;url=https://recommendspot.com/#/post-details/')"
                                        ><ion-icon
                                          name="logo-linkedin"
                                        ></ion-icon>
                                        Linkdin</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                                <!-- <ion-buttons sharebtn>		
												 <ion-fab>
													<ion-fab-button fab-btn size="small">
													  <ion-icon name="share-social"></ion-icon>
													</ion-fab-button>
													<ion-fab-list side="top">
													  <ion-fab-button size="small" (click)="viewPostSocial(item, 'http://www.facebook.com/share.php?u=https://recommendspot.com/#/post-details/')" target="_blank"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
													  <ion-fab-button size="small"  (click)="viewPostSocial(item, 'https://twitter.com/share?url=https://recommendspot.com/#/post-details/&amp;text=aa&amp;hashtags=YOUR_HASHTAGS')"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
													  <ion-fab-button size="small"  (click)="viewPostSocial(item, 'https://web.whatsapp.com/send?text=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
													  <ion-fab-button size="small" (click)="viewPostSocial(item, 'https://plus.google.com/share?url=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
													  <ion-fab-button size="small" (click)="viewPostSocial(item, 'http://www.linkedin.com/shareArticle?mini=true&amp;url=https://recommendspot.com/#/post-details/')"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
													</ion-fab-list>
												  </ion-fab>Share					
												</ion-buttons> -->

                                <!-- Dots Code -->

                                <div dots-edit>
                                  <ul
                                    class="list-post-edit displaynonediv"
                                    id="doc{{i}}"
                                    *ngIf="userId == item?.user_id"
                                    [class.displaydiv]="selectedItemm == i"
                                  >
                                    <li>
                                      <a (click)="editPost(item, i)">Edit</a>
                                    </li>
                                    <li>
                                      <a (click)="presentAlertConfirm(item, i)"
                                        >Delete</a
                                      >
                                    </li>
                                  </ul>
                                  <ion-icon
                                    class="icon-dots"
                                    name="ellipsis-horizontal"
                                    *ngIf="userId == item?.user_id"
                                    (click)="openUpdate(i)"
                                  ></ion-icon>
                                </div>
                              </div>
                            </ion-col>
                          </ion-row>
                        </div>

                        <!-- <div class="post-coment" *ngIf="item.comments != null" (click)="viewPost(item)" >	
									<ion-item lines="none">
										<ion-avatar>
											<img *ngIf="errors.indexOf(item.comments.image) == -1 && getimage(item.comments.image) == true" src="{{item.comments.image}}">
											<img *ngIf="errors.indexOf(item.comments.image) == -1 && getimage(item.comments.image) == false" src="{{IMAGES_URL + '/images/' + item.comments.image}}">
											<img *ngIf="errors.indexOf(item.comments.image) >= 0" src="assets/img/default.png">
										</ion-avatar>
										<ion-label>
											<h2><b>{{item.comments.user}}</b>  </h2>
											<p>{{item.comments.comment}}</p>
										</ion-label>
									</ion-item>
								</div> -->
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-list>
              </div>

              <div
                class="follow-category"
                *ngIf="allposts?.length == 0 && is_response == true && profiletab === 'Basic'"
              >
                <div followimg>
                  <img src="assets/img/followimg.png" />

                  <ion-button
                    color="secondary"
                    shape="round"
                    routerLink="/category"
                  >
                    Follow Category / People
                  </ion-button>
                </div>
              </div>

              <!-- <div class="follow-category" *ngIf="allposts?.length == 0 && is_response == true && (profiletab === 'Saved' || profiletab === 'Today')">
						<div class="no-record" followimg>
						No recommendations yet.
							
						</div>
					</div> -->

              <!-- <div class="follow-category" *ngIf="posts?.length == 0">
                <div class="no-record" followimg>
                  <img style="max-width: 100%;" src="assets/img/nodata.png"/>
                  No recommendations yet.
                </div>
              </div> -->

              <div class="follow-category" *ngIf="allposts?.length == 0 ">
                <div class="no-record" followimg>
                  <!-- <img style="max-width: 100%;" src="assets/img/nodata.png"/> -->
                  No recommendations yet.
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <ion-infinite-scroll
          (ionInfinite)="doInfinite($event)"
          *ngIf="is_response == true && authForm.value.keyword == '' && allposts?.length > 10 && profiletab == 'Global'"
        >
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <ion-infinite-scroll
          (ionInfinite)="doInfiniteLocal($event)"
          *ngIf="is_response == true && authForm.value.keyword == '' && allposts?.length > 10 && profiletab == 'Local'"
        >
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </div>
  </div>
</ion-content>

<div footerWeb>
  <p>© 2021 Recommendspot. All rights reserved.</p>
</div>
