<!--ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content  class="ion-padding">
<div loginform>
<div logo  class="ion-text-center">
  <img src="assets/img/logo.png"/>
 <h1>Forgot Password ?</h1>
  <h2>Don't worry, we all forget sometimes, just fill the email address below</h2>
</div>
<div form-group>
<label>Email</label>
<ion-item lines="none">
<ion-label>
<ion-icon name="mail-outline"></ion-icon>
</ion-label>
<ion-input clearOnEdit="false" type="email"  placeholder="Enter Email" [(ngModel)]="email"></ion-input>
</ion-item>
<span error *ngIf="errors.indexOf(email) >= 0 && is_submit == true">Please enter your email</span>
<span error *ngIf="errors.indexOf(email) == -1 && is_submit == true && !reg_exp.test(email.toLowerCase())">Please enter valid email</span>
</div>

<div login-btn>
<ion-button  expand="full" color="secondary"  shape="round" (click)="forgot_password()">
Submit
</ion-button>
</div>
<div btn-signup class="ion-text-center">
<p>Back To <a routerLink="/login" href="javascript:void(0)">Login</a></p>

</div>

</div>
</ion-content>
