<div headerWeb>
  <!-- <ion-menu-button slot="start">
    <img height="15px" src="assets/img/menu.png" />
  </ion-menu-button> -->
  <a href="javascript:void(0)" routerLink="/tabs/home" logo
    ><!--Recommendspot--><img
      height="22px"
      src="assets/img/logo-white.png"
      alt=""
  /></a>
  <div ritHeader>
    <ul>
      <li><a routerLink="/tabs/home" href="javascript:void(0)">Home</a></li>
      <li>
        <a routerLink="/category" href="javascript:void(0)">Categories</a>
      </li>
      <li (click)="gotofollowing()">
        <a routerLink="/tabs/following" href="javascript:void(0)">Following</a>
      </li>
      <li>
        <a routerLink="/tabs/add-recommend" href="javascript:void(0)"
          >Add Recommendation</a
        >
      </li>
    </ul>
    <a href="javascript:void(0)" routerLink="/tabs/notification" noti
      ><ion-icon name="notifications-sharp"></ion-icon
      ><ion-badge
        *ngIf="noti_count != '0' && errors.indexOf(noti_count) == -1"
        color="secondary"
        ><span *ngIf="noti_count != '0'">{{ noti_count }}</span></ion-badge
      ></a
    >
    <span proImg>
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == true"
        src="{{ user_image }}"
      />
      <img
        routerLink="/tabs/profile"
        *ngIf="
          errors.indexOf(user_image) == -1 && getimage(user_image) == false
        "
        src="{{ IMAGES_URL + '/images/' + user_image }}"
      />
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) >= 0"
        src="assets/img/default.png"
      />

      <p headerfixedheight routerLink="/tabs/profile">
        <span class="username">{{ user_name }} </span
        ><small>{{ user_email }}</small>
      </p>
      <div profileDropdown>
        <ul>
          <li>
            <a
              href="javascript:void(0)"
              routerLink="/profile-setting/{{ user_id }}"
              >Profile Settings</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" routerLink="/tabs/saved"
              >Saved Recommedations</a
            >
          </li>
          <li>
            <a
              href="javascript:void(0)"
              routerLink="/see-friends-recomendations"
              >See Friends Recommedations</a
            >
          </li>
          <li (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
        </ul>
      </div>
    </span>
  </div>
</div>

<ion-header>
  <ion-toolbar color="secondary">
    <ion-menu-button slot="start">
      <img height="15px" src="assets/img/menu.png" />
    </ion-menu-button>
    <ion-title class="ion-text-center logoMb"
      ><img src="assets/img/logo-white.png" alt=""
    /></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding" #content [scrollEvents]="true">
  <div class="flexAdmin">
    <app-sidebarnew></app-sidebarnew>
    <div class="flexAdmin__con">
      <div container>
        <div notifications>
          <ion-item
            lines="none"
            *ngFor="let item of listing; let i = index"
            [ngClass]="{ unread: item.read == 0 }"
            style="cursor: pointer"
          >
            <ion-avatar (click)="viewUser(item)">
              <!--    <img *ngIf="errors.indexOf(item.sender_image) == -1 && item.sender_medium == 'simple'" src="{{IMAGES_URL + '/images/' + item.sender_image}}">
	   <img *ngIf="errors.indexOf(item.sender_image) == -1 && item.sender_medium != 'simple'" src="{{item.sender_image}}">
	 	<img *ngIf="errors.indexOf(item.sender_image) >= 0 " src="assets/img/default.png">
	 	 -->
              <img
                *ngIf="
                  errors.indexOf(item.sender_image) == -1 &&
                  getimage(item.sender_image) == true
                "
                src="{{ item.sender_image }}"
              />
              <img
                *ngIf="
                  errors.indexOf(item.sender_image) == -1 &&
                  getimage(item.sender_image) == false
                "
                src="{{ IMAGES_URL + '/images/' + item.sender_image }}"
              />
              <img
                *ngIf="errors.indexOf(item.sender_image) >= 0"
                src="assets/img/default.png"
              />
            </ion-avatar>
            <ion-label>
              <p *ngIf="item.noti_type == 'add post'">
                <span (click)="viewUser(item)"> {{ item.sender_name }}</span>
                <span (click)="readNoti(item, i)">
                  added a new post:
                  <b>
                    {{
                      errors.indexOf(item.item.title) == -1
                        ? item.item.title
                        : item.item.description
                    }}</b
                  ></span
                >
              </p>

              <p *ngIf="item.noti_type == 'add like'">
                <span (click)="viewUser(item)"> {{ item.sender_name }}</span
                ><span (click)="readNoti(item, i)">
                  liked your post:
                  <b>
                    {{
                      errors.indexOf(item.item.title) == -1
                        ? item.item.title
                        : item.item.description
                    }}</b
                  ></span
                >
              </p>

              <p *ngIf="item.noti_type == 'add comment'">
                <span (click)="viewUser(item)">{{ item.sender_name }}</span>
                <span (click)="readNoti(item, i)">
                  commented on your post:
                  <b>
                    {{
                      errors.indexOf(item.item.title) == -1
                        ? item.item.title
                        : item.item.description
                    }}</b
                  ></span
                >
              </p>

              <p *ngIf="item.noti_type == 'follow user'">
                <span (click)="viewUser(item)">{{ item.sender_name }}</span>
                <span (click)="readNoti(item, i)"> started following you.</span>
              </p>

              <p *ngIf="item.noti_type == 'friends recc'">
                <span (click)="viewUser(item)">{{ item.sender_name }}</span>
                <span> recommend you a post</span>
                <span (click)="readNoti(item, i)"
                  ><b>
                    {{
                      errors.indexOf(item.item.title) == -1
                        ? item.item.title
                        : item.item.description
                    }}</b
                  ></span
                >
              </p>

              <ion-note
                ><ion-icon name="time-outline"></ion-icon>
                {{ item.created_on | dateAgo }}</ion-note
              >
            </ion-label>
          </ion-item>
        </div>

        <div
          class="no-record"
          *ngIf="listing?.length == 0 && is_response == true"
        >
          No notification(s) yet
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div footerWeb>
  <p>© 2021 Recommendspot. All rights reserved.</p>
</div>
