<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center"> Recommend Post To.. </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="imgModal">
  <!--span (click)="dismiss()" class="closeModal">
    <ion-icon name="close-circle-outline"></ion-icon>
  </span-->
  <ion-row>
    <ion-col
      size-lg="6"
      size-md="6"
      size-sm="12"
      size="12"
      *ngFor="let user of data; let i = index"
    >
      <ion-item userlist lines="none">
        <ion-avatar style="cursor: pointer">
          <img
            *ngIf="
              errors.indexOf(user.image) == -1 && getimage(user.image) == true
            "
            src="{{ user.image }}"
          />
          <img
            *ngIf="
              errors.indexOf(user.image) == -1 && getimage(user.image) == false
            "
            src="{{ IMAGES_URL + '/images/' + user.image }}"
          />
          <img
            routerLink="/tabs/profile"
            *ngIf="errors.indexOf(user.image) >= 0"
            src="assets/img/default.png"
          />
        </ion-avatar>
        <ion-label style="cursor: pointer">{{ user.name }} </ion-label>
        <input
          type="checkbox"
          [checked]="user.checked"
          (change)="handleChange(user)"
          id="vehicle1"
          class="regular-checkbox big-checkbox"
          name="vehicle1"
        />
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button cancelbtn (click)="dismiss()" expand="full" shape="round"
        >Cancel</ion-button
      >
    </ion-col>
    <ion-col size="6">
      <ion-button
        color="secondary"
        expand="full"
        (click)="onDone()"
        shape="round"
        >Done</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
