<div headerWeb>
  <ion-menu-button slot="start">
    <img height="15px" src="assets/img/menu.png" />
  </ion-menu-button>
  <a href="javascript:void(0)" routerLink="/tabs/home" logo
    ><!--Recommendspot--><img
      height="22px"
      src="assets/img/logo-white.png"
      alt=""
  /></a>
  <div ritHeader>
    <ul>
      <li><a routerLink="/tabs/home" href="javascript:void(0)">Home</a></li>
      <li>
        <a routerLink="/category" href="javascript:void(0)">Categories</a>
      </li>
      <li (click)="gotofollowing()">
        <a routerLink="/tabs/following" href="javascript:void(0)">Following</a>
      </li>
      <li>
        <a routerLink="/tabs/add-recommend" href="javascript:void(0)"
          >Add Recommendation</a
        >
      </li>
    </ul>
    <a href="javascript:void(0)" routerLink="/tabs/notification" noti
      ><ion-icon name="notifications-sharp"></ion-icon
      ><ion-badge
        *ngIf="noti_count != '0'  && errors.indexOf(noti_count) == -1"
        color="secondary"
        ><span *ngIf="noti_count != '0'">{{noti_count}}</span></ion-badge
      ></a
    >
    <span proImg>
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == true"
        src="{{user_image}}"
      />
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) == -1 && getimage(user_image) == false"
        src="{{IMAGES_URL + '/images/' + user_image}}"
      />
      <img
        routerLink="/tabs/profile"
        *ngIf="errors.indexOf(user_image) >= 0"
        src="assets/img/default.png"
      />

      <p headerfixedheight routerLink="/tabs/profile">
        <span class="username">{{user_name}} </span
        ><small>{{user_email}}</small>
      </p>
      <div profileDropdown>
        <ul>
          <li>
            <a
              href="javascript:void(0)"
              routerLink="/profile-setting/{{user_id}}"
              >Profile Settings</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" routerLink="/tabs/saved"
              >Saved Recommedations</a
            >
          </li>
          <li>
            <a
              href="javascript:void(0)"
              routerLink="/see-friends-recomendations"
              >See Friends Recommedations</a
            >
          </li>
          <li (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
        </ul>
      </div>
    </span>
  </div>
</div>

<ion-header>
  <ion-toolbar color="secondary">
    <!-- (click)="dismiss()" -->
    <ion-back-button slot="start"> </ion-back-button>
    <ion-title class="ion-text-center">Edit Recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="typeTab" (ionChange)="typeChange(typeTab)">
    <ion-segment-button value="Photo"> Photo/Image </ion-segment-button>
    <ion-segment-button value="Website"> Website Link </ion-segment-button>
    <ion-segment-button value="Words"> Text Only </ion-segment-button>
  </ion-segment>
  <div container>
    <form [formGroup]="authForm">
      <!-- <div form-group>
				<label>Type</label>
				<ion-item lines="none">
					<ion-label>
						<ion-icon name="keypad-outline"></ion-icon>
						<span style="display: none;">Type</span>
					</ion-label>
					<ion-select  interface="alert" [(ngModel)]="type" (ionChange)="typeChange(type)"  formControlName="type">
						<ion-select-option value="Photo"> Photo/Image </ion-select-option>
						<ion-select-option value="Website"> Website Link </ion-select-option>
						<ion-select-option value="Words"> Text Only   </ion-select-option>
					</ion-select>
				</ion-item>
			</div> -->
      <div form-group>
        <label>What are you Recommended?</label>
        <ion-item lines="none">
          <ion-input
            rows="3"
            placeholder="I Recommended"
            formControlName="title"
          ></ion-input>
        </ion-item>
        <span
          error
          *ngIf="errors.indexOf(authForm.value.title) >= 0 && is_submit == true"
          >Please Enter What are you Recommended?</span
        >
      </div>
      <div form-group>
        <label>Why are you recommended?</label>
        <ion-item lines="none">
          <ion-textarea
            rows="3"
            placeholder=""
            formControlName="description"
          ></ion-textarea>
        </ion-item>
        <span
          error
          *ngIf="type != 'Website' && errors.indexOf(authForm.value.description) >= 0 && is_submit == true"
          >Please enter description</span
        >
      </div>
      <div form-group>
        <label>Category</label>
        <ion-item lines="none">
          <ion-label>
            <ion-icon name="layers-outline"></ion-icon>
            <span style="display: none">Category</span>
          </ion-label>
          <ion-select
            interface="alert"
            placeholder="Select"
            formControlName="category"
          >
            <ion-select-option
              value="{{doc._id}}"
              *ngFor="let doc of categories; let i = index;"
            >
              {{doc.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <span
          error
          *ngIf="errors.indexOf(authForm.value.category) >= 0 && is_submit == true"
          >Please choose category</span
        >
      </div>

      <!-- <div
        form-group
        *ngIf="selected_cat === 'Shows/Series' || selected_cat === 'Movies '"
      >
        <label>Platform</label>
        <ion-item lines="none">
          <ion-label>
            <ion-icon name="layers-outline"></ion-icon>
            <span style="display: none">Platform</span>
          </ion-label>
          <ion-select
            interface="alert"
            placeholder="Select"
            formControlName="platform"
            (ionChange)="platformSelection($event)"
          >
            <ion-select-option
              value="{{doc._id}}"
              *ngFor="let doc of platforms; let i = index;"
            >
              {{doc.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <span
          error
          *ngIf="errors.indexOf(authForm.value.platform) >= 0 && is_submit == true"
          >Please choose platform</span
        >
      </div> -->
      <div form-group>
        <label>Tags</label>
        <ion-item lines="none">
          <tag-input
            formControlName="tags"
            [editable]="true"
            [identifyBy]="'id'"
            [displayBy]="'name'"
            [placeholder]="''"
            [secondaryPlaceholder]="'Enter Tags'"
          >
          </tag-input>
        </ion-item>
      </div>
      <div class="flexdiv" form-group *ngIf="plat_selected_value == plat_value">
        <!-- <ion-item lines="none">					
					<ion-input rows="3" placeholder="Enter Other Platform" formControlName="platform_name"></ion-input>
				</ion-item> -->
        <ion-item class="ionitem" lines="none">
          <ion-input
            rows="3"
            placeholder="Enter Other Platform"
            formControlName="platform_name"
          ></ion-input>
        </ion-item>
        <ion-button color="secondary" shape="round" (click)="add_platform()"
          >Add</ion-button
        >

        <span
          error
          *ngIf="errors.indexOf(authForm.value.platform_name) >= 0 && (is_submit == true || is_submit_platform == true)"
          >Please enter other platform name</span
        >
      </div>

      <!-- <div form-group>
        <label>Sub Category</label>
        <ion-item lines="none">
          <ion-label>
            <ion-icon name="layers-outline"></ion-icon>
            <span style="display: none">Sub Category</span>
          </ion-label>
          <ion-select
            interface="alert"
            placeholder="Select"
            formControlName="sub_category"
          >
            <ion-select-option
              value="{{doc._id}}"
              *ngFor="let doc of subcategories; let i = index;"
            >
              {{doc.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <span
          error
          *ngIf="errors.indexOf(authForm.value.sub_category) >= 0 && is_submit == true && subcategories?.length > 0"
          >Please choose sub category</span
        >
      </div> -->

      <div form-group uploadimg *ngIf="typeTab == 'Photo'">
        <label>Image</label>
        <div add-recc>
          <!-- (click)="selectImage()" -->
          <label for="resume"
            ><ion-icon name="cloud-upload-outline"></ion-icon
            ><span>Upload Image Here</span></label
          >
          <input
            type="file"
            name="resume"
            id="resume"
            style="display: none"
            (change)="uploadImages($event)"
          />
          <img
            *ngIf="errors.indexOf(image) == -1 && is_live_image_updated == false"
            src="{{IMAGES_URL + '/images/' + image}}"
          />
          <!-- <img *ngIf="errors.indexOf(live_image_url) == -1 && is_live_image_updated == true" [src]="win.Ionic.WebView.convertFileSrc(live_image_url)" /> -->

          <img
            *ngIf="errors.indexOf(image_url) == -1 && is_live_image_updated == true"
            [src]="sanitizer.bypassSecurityTrustUrl(image_url)"
          />
        </div>
      </div>
      <div form-group uploadimg *ngIf="typeTab == 'Website'">
        <label>Web Link</label>

        <ion-item lines="none">
          <ion-textarea
            placeholder="Enter Website Link"
            (ionChange)="checklink(authForm.value.web_link)"
            formControlName="web_link"
          ></ion-textarea>
        </ion-item>

        <span
          error
          *ngIf=" typeTab == 'Website' && errors.indexOf(authForm.value.web_link) == -1 && !expression.test(authForm.value.web_link) && is_submit == true"
          >Please enter valid web link (i.e. http://www.example.com,
          https://www.example.com, www.example.com, example.com)</span
        >
        <div
          class="linkcontent"
          *ngIf="authForm.value.web_link != '' && opencontent == true"
        >
          <ion-icon
            name="close-circle-outline"
            class="linkcontentclose"
            (click)="closeLinkContent()"
          ></ion-icon>
          <ion-row>
            <ion-col size="3" size-md="1" *ngIf="link_content?.image != ''">
              <img src="{{link_content?.data?.image}}" />
            </ion-col>

            <ion-col size="{{link_content?.title != '' ? 9 : 12}}">
              <p *ngIf="link_content?.data?.title != ''">
                {{link_content?.data?.title}}
              </p>
              <p
                *ngIf="errors.indexOf(link_content?.data) >= 0 && is_linkdata == true"
              >
                Lorem Ipsum is simply dummy text of the industry.
              </p>
              <p *ngIf="link_content?.data?.title != ''">
                {{link_content?.data?.description}}
              </p>
              <p
                *ngIf="errors.indexOf(link_content?.data) >= 0 && is_linkdata == true"
              >
                Lorem Ipsum is simply dummy text of the industry.
              </p>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-button
        color="secondary"
        expand="full"
        shape="round"
        type="submit"
        (click)="add_recc()"
        >Submit</ion-button
      >
    </form>
  </div>
</ion-content>
<div footerWeb>
  <p>© 2021 Recommendspot. All rights reserved.</p>
</div>
